@charset "utf-8";

/* mod-menu */
.hvg{width:100%;height:450px;background:#F5F5F5;position: relative;margin-top: -20px;}
.hjk{width:100%;height:390px;background:#F5F5F5;position: absolute;left:0;top:40px;}
.hjk_on{width:400px;height:100%;float:left;display: inline;margin-left:100px;}
.hjk_ons{width:400px;height:100%;float:right;}
.mold_open_hover,.mold_open{display:inline-block;width:10px;height:6px;margin-left:10px;position:relative;top:-2px;}
.mold_open{background-position:0 -6px;}
.mold_open_hover{background-position:0 0;}
.mod-menu{position:relative;z-index:1000;left:-1px;float:left;border-top:1px solid #E5E4E4;border-bottom:2px solid #E5E4E4;}
.menu-cont-list a:hover{text-decoration:underline;}
.mod-menu .menu-item{width:220px;position:relative;z-index:22;}
.mod-menu .menu-item li{width:100%;height:47px;border:0;border-left:1px solid transparent;line-height:47px;/*background:#F5F5F5;*/clear:both;}
.mod-menu .menu-item li.mouse-bg{background:url(../image/mouse-menu-bg.jpg) no-repeat #fff;position:relative;z-index:22;margin-right:-4px;}
.mod-menu .menu-item a{color:#555555;font-size:14px;font-family:宋体;font-weight:700;padding-left:33px;display:block;height:45px;border-top:solid 1px #E7E8EB;}
.mod-menu .menu-item a:hover{ text-decoration:none;}
.mod-menu .menu-cont{position:absolute;left:220px;top:1px;background:#fff;width:573px;border:solid 1px #D0CDCD;box-shadow:2px 0 10px #D0CDCD;z-index:20;}
.mod-menu .menu-cont-list{padding:0 30px;}
.mod-menu .menu-cont-list li{border-bottom:dotted 2px #F5F5F5;padding:10px 0;clear:both;width:500px;}
.mod-menu .menu-cont-list li:last-child{border-bottom:none;}
.mod-menu .menu-cont-list h3{font-size:14px;font-weight:700;}
.mod-menu .menu-cont-list h3 a{color:#222;}
.mod-menu .menu-list-link a{color:#666;line-height:24px;}
.mod-menu .menu-list-link .long-string{color:#ccc;font-size:12px;padding:0 10px;}
.b1{width:120px;height:40px;position: relative;}
.b1 .ims{display: block;width:16px;height:16px;background:url(../images/guo.png);position: absolute;top:6px;left:0;}
.b1 .bf{position: absolute;top:0px;left:20px;font-size: 24px;font-family: 宋体;font-weight: 700;width:55px;height:30px;color:#555555;}
.b1 .imv{background:url(../images/wai.png);}
.pv{width:100%;height:40px;position: relative;background:#F5F5F5;}
.pv .pvf{width:150px;height:30px;position: absolute;right:20px;top:0;}

